h1{
  color: orange;
  text-decoration: underline;
}

div{
  /* border-style: solid; */
}

p{
  color: grey;
  font-size: 20px;
  border-style: solid;
  /* column-count: 3;
  letter-spacing: 2px; */
}
body{
  text-align: center;
}
a{
  border-style: solid;
}
/* */
.about{
  color: red;
  background-color: pink;
}
/* .error{
  color: red;
} */
p.error{
  color: red;
}

#content{
  background-color: lightgray;
}
